.articles__list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;

}
.articles__item{
    max-width: 256px;
}
.articles__link{
    margin-bottom: 32px;
}
.articles__desc{
    font-family: Inter UI;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #6e6f7a;
  }
.next__btn{
    width: 256px;
height: 164px;
border:4px solid #2A4BFF;
border-radius: 8px;
box-sizing: border-box;
transform: matrix(-1, 0, 0, 1, 0, 0);
display: flex;
align-items: center;
justify-content: center;
}
.go-next{
    transform: rotate(180deg);
}