.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:220px ;
    padding: 14px 0 15px 0 ;
    background-color:#2A4BFF;
    border-radius: 8px;
    color:$white;
}
.models__btn {
  font-family: Inter UI;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 80px;
    &:hover{
      opacity: 0.7;
    }
}
.consulting__btn{
  width:220px;
  &:hover{
    opacity: 0.7;
  }
}
