.welcome{
    height: 100vh;
    background-position-x: right;
    background-image: url(../img/welcome.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
   
}
.information__title{
    font-family: Inter UI;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 64px;
}
.information__text{
    font-family: Inter UI;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #6E6F7A;
}