.articles__list {
  display: flex;
  width: calc(100% + 24px);
  padding: 0;
  margin: 0 -12px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: rem(200px);
}

.articles__item {
  display: block;
  height: 100%;
  min-height: 1px;
  margin: 0;
  padding: rem(12px);
  position: relative;
  width: 25%;
  max-width: 25%;
}

.articles__link {
  margin-bottom: rem(32px);
}

.articles__desc {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: rem(24px);
  color: #6e6f7a;
}
