.footer {
  padding: 50px 0 65px 0;
  background-color: #0e0f21;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__info {
  display: flex;
}

.footer__logo {
  color: $white;
}

.menu {
  margin-bottom: 20px;
}

.adress {
  margin-right: 40px;
  justify-content: center;
  display: flex;

  &::before {
    content: "";
    display: inline-flex;
    background-image: url(./../img/local_phone_24px.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 17px;
    width: 18px;
    height: 18px;
  }
}

.phone {
  display: flex;
  justify-content: center;

  &::before {
    content: "";
    display: inline-flex;
    background-image: url(./../img/local_phone_24px.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 17px;
    width: 18px;
    height: 18px;
  }
}

.adress,
.phone {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $white;
}
