.footer {
  padding: rem(50px) 0 rem(65px) 0;
  background-color: #0e0f21;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__info {
  display: flex;
}

.footer__logo {
  color: $white;
}

.adress {
  margin-right: rem(40px);
  justify-content: center;
  display: flex;

  &::before {
    content: '';
    display: inline-flex;
    background-image: url(./../img/local_phone_24px.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: rem(17px);
    width: rem(18px);
    height: rem(18px);
  }
}

.phone {
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    display: inline-flex;
    background-image: url(./../img/local_phone_24px.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: rem(17px);
    width: rem(18px);
    height: rem(18px);
  }
}

.adress,
.phone {
  font-family: 'Inter Light BETA';
  font-style: normal;
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(16px);
  color: $white;
}
