.reviews {
  margin-bottom: rem(200px);
}

.reviews--wrap {
  display: flex;
  align-items: flex-start;
}

.reviews__title {
  margin-bottom: rem(80px);
}

.reviews__desc {
  max-width: rem(832px);
  margin-right: rem(72px);
}

.reviews__text {
  margin-bottom: rem(30px);
  font-family: Inter UI;
  font-style: italic;
  font-weight: 400;
  font-size: rem(24px);
  line-height: rem(32px);
}

.reviews__information {
  font-family: Inter UI;
  font-style: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6E6F7A;
}
