.reviews {
  margin-bottom: 200px;
}

.reviews--wrap {
  display: flex;
  align-items: flex-start;
}

.reviews__title {
  margin-bottom: 80px;
}

.reviews__desc {
  max-width: 832px;
  margin-right: 72px;
}

.reviews__text {
  margin-bottom: 30px;
  font-family: Inter UI;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.reviews__information {
  font-family: Inter UI;
  font-style: 400;
  font-size: 16px;
  line-height: 19px;
  color: #6E6F7A;
}
