.title {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: rem(48px);
}

.models__title,
.consulting__title,
.articles__title {
  margin-bottom: rem(80px);
}

.models__item__title,
.consulting__item__title,
.articles__item__title {
  margin-bottom: rem(16px);
  font-size: rem(24px);
  line-height: rem(32px);
}

.we-do__title {
  margin-bottom: rem(48px);
}

.articles__item__title {
  font-family: Inter UI;
  font-style: normal;
  font-weight: 700;
  font-size: rem(16px);
  line-height: rem(24px);
}
